<%- include('partial/header') %>
<!--Main-->
<main class="blogDetails">
  <section class="container flex justify-between align-start">
    <article class="flex-60">
      <h1><%= blog.title %></h1>
      <cite><%= blog.author %></cite>
      <p><%= blog.description %></p>
      <div class="feedbacks flex justify-between align-center">
        <div>
          <span><%= blog.likes %></span>
          <a href="/blogs/click/<%= blog._id %>/likes"
            ><i class="fas fa-thumbs-up"></i
          ></a>
        </div>
        <div>
          <span><%= blog.flames %></span>
          <a href="/blogs/click/<%= blog._id %>/flames"
            ><i class="fab fa-gripfire"></i
          ></a>
        </div>
        <div>
          <span><%= blog.hearts %></span>
          <a href="/blogs/click/<%= blog._id %>/hearts"
            ><i class="fas fa-heart"></i
          ></a>
        </div>
        <div>
          <span><%= blog.applauses %></span>
          <a href="/blogs/click/<%= blog._id %>/applauses"
            ><i class="fas fa-sign-language"></i
          ></a>
        </div>
        <div>
          <span><%= blog.dislikes %></span>
          <a href="/blogs/click/<%= blog._id %>/dislikes"
            ><i class="fas fa-thumbs-down"></i
          ></a>
        </div>
      </div>
      <div class="handlers">
        <a href="/blogs/<%=blog._id%>/edit"
          ><button class="btn btn-primary">Edit</button></a
        >
        <a href="/blogs/<%=blog._id%>/delete"
          ><button class="btn btn-primary">Delete</button></a
        >
        <a href="/blogs"><button class="btn btn-primary">Go Back</button></a>
      </div>
    </article>

    <div class="flex-38 commentSection">
      <div>
        <% if(blog.comments.length){ blog.comments.forEach(comment=>{ %>
        <p class="comment flex justify-between align-center">
          <%= comment.content %>
          <span>
            <a style="color: black" href="/comments/<%= comment._id %>/edit"
              ><i style="color: black" class="far fa-edit edit"></i
            ></a>
            <a style="color: black" href="/comments/<%= comment._id %>/delete"
              ><i style="color: black" class="far fa-trash-alt delete"></i
            ></a>
          </span>
        </p>
        <% });}else{ %>
        <p style="text-align: center">No comments yet!</p>
        <% } %>
      </div>
      <form
        class="flex justify-between align-center"
        action="/blogs/<%= blog._id %>/comments"
        method="POST"
      >
        <input class="flex-88" type="text" name="content" />
        <button class="flex-10" type="submit">
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </section>
</main>
